<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computed Property</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <center>
            <h1>Computed Properties</h1>
            <h3>{{Instruction}}</h3>
            <input type="text" v-model="first">
            <input type="text" v-model="second">
            <input type="text" v-model="third">
            <h1>Entered Text: {{firstVal}} {{middleVal}} {{lastVal}}</h1>
        </center>
    </div>

</body>
<script>
    new Vue({
        el: "#app",
        data: {
            firstVal: "First",
            middleVal: "Second",
            lastVal: "Third",
            Instruction: "Enter text in these boxes to see the result"
        },
        computed: {
            first: {
                get: function () {
                    return this.firstVal
                },
                set: function (val) {
                    this.firstVal = val
                }
            }, second: {
                get: function () {
                    return this.middleVal
                },
                set: function (val) {
                    this.middleVal = val
                }
            }, third: {
                get: function () {
                    return this.lastVal
                },
                set: function (val) {
                    this.lastVal = val
                }
            }
        }
    })
</script>

</html>