<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vue.js Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</head>

<body>

    <div id="app" class="container">
        <h1 class="text-center text-success">Watch Property</h1>
        <h1 class="my-4">Feet to Inches</h1>
        <form>
            <div class="form-group">
                <label for="input1">Feet</label>
                <input type="text" class="form-control" id="input1" placeholder="Example input" v-model="feet">
            </div>
            <div class="form-group">
                <label for="input2">Inches</label>
                <input type="text" class="form-control" id="input2" placeholder="Another input" v-model="inch">
            </div>
        </form>

        <h1 class="my-4">Square of integer</h1>

        <form>
            <div class="form-group">
                <label for="input3">Number</label>
                <input type="text" class="form-control" id="input3" v-model="number">
            </div>
            <div class="form-group">
                <label for="input4">Sqaure</label>
                <input type="text" class="form-control" id="input4" v-model="root">
            </div>
        </form>
    </div>
</body>

<script>

    new Vue({
        el: "#app",
        data: {
            feet: 0,
            inch: 0,
            number: 0,
            root: 0
        },
        watch: {
            feet: function (val) {
                this.feet = val
                this.inch = this.feet * 12
            },
            inch: function (val) {
                this.feet = val / 12
                this.inch = val
            },
            number: function (val) {
                this.number = val
                this.root = Math.sqrt(this.number)
            },
            root: function (val) {
                this.root = val
                this.number = Math.round(val * val)
            }
        }
    })
</script>

</html>