<!DOCTYPE html>
<html>

<head>
    <title>Ques2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {
            background-color: rgb(22, 185, 222);
        }

        input[type="text"] {
            background-color: rgb(7, 148, 7);
        }

        h1 {
            color: rgb(73, 6, 154);
        }

        h2 {
            color: brown;
        }

        h3 {
            color: darkred;
        }

        B {
            color: rgb(88, 65, 7);
        }
    </style>
</head>

<body>
    <center>
        <div id="computed_property">
            <h3>Working With Different Components of Vuejs</h3>
            <div><B>Firstname : </B> </div><input type="text" v-model="firstname" /> <br /><br /><br>
            <div><B>Lastname : </B> </div><input type="text" v-model="lastname" /> <br /><br /><br>
            <h2 style="color:purple ;">My first name is : {{firstname}}</h2>
            <h2>My lastname is : {{lastname}}</h2>
            <h2 style="color: blue;">My full name is :{{firstname}} {{lastname}}</h2>
            <h1>Return using computed property : {{getfullname}}</h1>

        </div>

        <script>
            var vm = new Vue({
                el: '#computed_property',
                data: {
                    firstname: "",
                    lastname: "",
                },
                computed: {
                    getfullname: function () {
                        return this.firstname + " " + this.lastname;
                    }
                },
            })
        </script>
    </center>
</body>